
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_1_name %>
    </div>
    <div class="ingredient_number">
        <%= number_field :data, :integer , value: results[:message], min: 0%> g
    </div>
</div>
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_2_name %>
    </div>
    <div class="ingredient_number">
        <% if !(@bakerscombination.ingredient_2 == nil) %>
            <div class="ingredient_2"> <%= ( @bakerscombination.ingredient_2 * results[:message] / @bakerscombination.ingredient_1 ).round(1) %> </div>
        <% end %>
        g
    </div>
</div>
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_3_name %>
    </div>
    <div class="ingredient_number">
        <% if !(@bakerscombination.ingredient_3 == nil) %>
            <div class="ingredient_3"> <%= ( @bakerscombination.ingredient_3 * results[:message] / @bakerscombination.ingredient_1 ).round(1) %> </div>
        <% end %>
        g
    </div>
</div>
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_4_name %>
    </div>
    <div class="ingredient_number">
        <% if !(@bakerscombination.ingredient_4 == nil) %>
            <div class="ingredient_4"> <%= ( @bakerscombination.ingredient_4 * results[:message] / @bakerscombination.ingredient_1 ).round(1) %> </div>
        <% end %>
        g
    </div>
</div>
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_5_name %>
    </div>
    <div class="ingredient_number">
        <% if !(@bakerscombination.ingredient_5 == nil) %>
            <div class="ingredient_5"> <%= ( @bakerscombination.ingredient_5 * results[:message] / @bakerscombination.ingredient_1 ).round(1) %> </div>
        <% end %>
        g
    </div>
</div>
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_6_name %>
    </div>
    <div class="ingredient_number">
        <% if !(@bakerscombination.ingredient_6 == nil) %>
            <div class="ingredient_6"> <%= ( @bakerscombination.ingredient_6 * results[:message] / @bakerscombination.ingredient_1 ).round(1) %> </div>
        <% end %>
        g
    </div>
</div>
<div class="ingredient">
    <div class="ingredient_name">
        <%= @bakerscombination.ingredient_7_name %>
    </div>
    <div class="ingredient_number">
        <% if !(@bakerscombination.ingredient_7 == nil) %>
            <div class="ingredient_7"> <%= ( @bakerscombination.ingredient_7 * results[:message] / @bakerscombination.ingredient_1 ).round(1) %> </div>
        <% end %>
        g
    </div>
</div>